body{
    height: 100%;
    margin: 0;
    font-family: 'SemiBold' !important;
}
.Pointro_page {
    background-image: url("image/店內背景_修.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
p{
    color: white;
}
.p1{
    font-size: 1.9vw;
    top: 13vh;
    left: 20vw;
    z-index: 2;
    position: absolute;
}
.p2{
    font-size: 1.9vw;
    top: 40vh;
    left: 38vw;
    z-index: 2;
    position: absolute;
}
.color_block{
    width: 70vw;
    height: 53vh;
    background-color: rgb(223, 192, 165, .85);
    position: absolute;
    top: 9vh;
    left: 15vw;
    z-index: 0;
    border-radius: 20px;
}
.soy_img{
    height: 55vh;
    top: 40vh;
    left: 20vw;
    z-index: 1;
    position: absolute;
}
.chopstick{
    width: 40vw;
    top:53vh;
    left: 40vw;
    z-index: 4;    
    position: absolute;
}
.stick_rest{
    width: 5vw;
    top: 68vh;
    left: 73vw;
    z-index: 3;
    position: absolute;
}
.start{
    color: black;
    font-size: 2vw;
    top: 68vh;
    left: 45vw;
    position: absolute;
    transform: rotate(-10deg);
}
a:hover{
    color: white;
}

.pre_page{
    font-size: 2.5vh;
    top: 1vh;
    left: 1vw;
    color: black;
    text-decoration: none;
    position: absolute;
}
@font-face {
    font-family: 'SemiBold';
    src: url('font/SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normalss;
}
